<!DOCTYPE html>
<html>
<head>
	<title>hello word</title>
	<link href="{dede:global.cfg_templets_skin/}/style/dedecms.css" rel="stylesheet" media="screen" type="text/css" />
</head>
<body>
	<?php 
	pasterTempletDiy("default/head.htm"); 
	?>

	<div style="margin:0 auto;width:100%;text-align:center;">
		<ul style="margin:0 auto;width:90%;">
			<li>welcome</li>
			<li>
				<span>select:</span>
				<select>
					<option>-请选择-</option>
					<option>-飞-</option>
					<option>-马-</option>
					<option>-牧-</option>
					<option>-场-</option>
				</select>
			</li>
			<li>
				<span>name</span>
				<input name="name" id="name" value="" placeholder="welcome to feimamuchang" />
			</li>
			<li>
				<span>mobile</span>
				<input name="mobile" id="mobile" value="" placeholder="welcome to feimamuchang" />
			</li>
			<li>
				<input type="button" id="sure" value="Are U Sure"/>
			</li>
		</ul>
	</div>

	{dede:include filename="footer.htm"/}
</body>
</html>